Repository tikv/titan, pull requests merged in 2020-05, with the labels that each got.

#158 Add interface MultiBatchWrite for TitanDB (#156)
  src/db_impl.cc
  src/db_impl.h
Labels: type/cherry-pick

#168 Fix GC may delete a already deleted blob file
  src/blob_format.h
  src/blob_gc.cc
  src/blob_gc.h
  src/blob_gc_job.cc
  src/blob_gc_job_test.cc
  src/blob_gc_picker.cc
  src/db_impl_gc.cc
  src/titan_db_test.cc
Labels: needs-cherry-pick-3.x, needs-cherry-pick-4.x, status/can-merge

#170 Fix GC may delete a already deleted blob file (#168)
  src/blob_format.h
  src/blob_gc.cc
  src/blob_gc.h
  src/blob_gc_job.cc
  src/blob_gc_job_test.cc
  src/blob_gc_picker.cc
  src/db_impl_gc.cc
  src/titan_db_test.cc
Labels: status/can-merge, type/cherry-pick
